@import 'mixins';
@import 'vars';

.Controls-container
{
    @include bar-container(#aaf);
    @include if-landscape
    {
        padding: {
            bottom:10px;
            top:10px;
        }
    }
    margin:auto;
}

.Controls-container > p
{
    margin:0;
    @include if-portrait
    {
        margin-left:8px;
        margin-right:8px;
    }
}

.Controls-btn
{
    cursor: pointer;

    @include if-landscape
    {
        margin: {
            top: $bar-btn-intern-margin;
            bottom: $bar-btn-intern-margin;
        }
    }
    @include if-portrait
    {
        margin: {
            left: $bar-btn-intern-margin;
            right: $bar-btn-intern-margin;
        }
    }
    background-color: rgba(255,255,255,0.2);
    border: 2px rgba(0,0,0,0.3) solid;
    border: {
        top:none; left:none;
    }
    border-radius: 5px;
    padding: 8px;

    &:hover
    {
        border: 2px rgba(0,0,0,0.3) solid;
        border: {
            bottom:none; right:none;
        }
    }

    &:focus{ background-color: rgba(255,255,255,0.45); }
}

.Controls-level_info
{
    text-align: center;
}