@import 'mixins';
@import 'vars';

.Controls-container
{
    @include bar-container(#aaf);
    @include if-landscape
    {
        padding: {
            bottom:10px;
            top:10px;
        }
    }
}

.Controls-container > p
{
    margin:0;
    @include if-portrait
    {
        margin-left:5px;
    }
}

.Controls-btn
{
    cursor: pointer;

    @include if-landscape
    {
        margin: {
            top: $bar-btn-intern-margin;
            bottom: $bar-btn-intern-margin;
        }
    }
    @include if-portrait
    {
        margin: {
            left: $bar-btn-intern-margin;
            right: $bar-btn-intern-margin;
        }
    }
}

.Controls-level_info
{
    text-align: center;
}