@import 'vars';


@mixin if-landscape
{
    @media (orientation: landscape)
    {
        @content;
    }
}
@mixin if-portrait
{
    @media (orientation: portrait)
    {
        @content;
    }
}

@mixin bar-container($backclr)
{
    background-color: $backclr;
    border-radius: $bar-radius;
    box-sizing: border-box;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow: auto;

    @media (orientation: landscape)
    {
        flex-direction: column;        
        width: $bar-size;
        height: fit-content; max-height: 100%;
    }

    @media (orientation: portrait)
    {
        flex-direction: row;
        width: fit-content; max-width: 100%;
        height: $bar-size;
    }
}

